@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.form-continer {
    background-color: #1f1f1f;
    width: 300px;
    border-radius: 10px;
}

img {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
}

h2 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 19px;
}

h3 {
    text-align: center;
    color: #c4f82a;
    font-weight: 300;
    font-size: 13px;
}

h4 {
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 200;
    padding-bottom: 4px;
}

h2,
h3 {
    margin: 5px 0;
    padding: 0;
}

.button-continer {
    display: block;
    margin: 20px;
}

.form-button {
    margin: 13px 0px;
    border: none;
    display: block;
    background-color: #333333;
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.form-button:hover {
    background-color: #c4f82a;
    color: black;
}